$primary: #C0392B;
$secondary: #596E79;
$info: #001F3F;
$dark : black;
$bg-color: #F2F4F4;
$font-family-base: 'Roboto', sans-serif;
$font-family-headings: 'Montserrat', sans-serif;

button{
    border: none;
}

