figure.snip1440 {
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  line-height: 1.4em;
  background-color: $dark;
}
figure.snip1440 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.3s ease-out;
}

figure.snip1440 img {
  -webkit-transition: transform 0.3s ease;
  transition: transform 0.4s ease;
}

figure.snip1440 figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translateX(10%);
  transform: translateX(10%);
}

figure.snip1440 h1 {
  text-align: center;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding for tighter spacing */
}

figure.snip1440 p {
  text-align: center;
  margin: 5px 0 0 0; /* Small margin to keep them close */
}

figure.snip1440:hover figcaption,
figure.snip1440.hover figcaption {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}




figure.snip1440:after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  bottom: 50%;
  left: 20px;
  right: 20px;
  -webkit-transition: all 1s ease-in-out; /* Slowed down to 1s */
  transition: all 1s ease-in-out; /* Slowed down to 1s */
  opacity: 0;
}



figure.snip1440 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1440:hover img,
figure.snip1440.hover img {
  opacity: 0.2;
  -webkit-transform: scale(1.1);
  transform: scale(1.1); /* Zoom-in effect */
}



figure.snip1440:hover:after,
figure.snip1440.hover:after {
  top: 20px;
  bottom: 20px;
  opacity: 1;
}
