body {
    font-family: $font-family-base;
  }

  h1,h2,h3,h4,h5,h6,.diplsay-1,.display-2,.display-3,.display-4,.display-5, .display-6 {
    font-family: $font-family-headings;
    
  }

  .btn{
    font-family: $font-family-base;
    font-weight: 200;
  }
  html{
    scroll-behavior: smooth;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 300ms ease;
}
.reveal.active{
  transform: translateY(0px);
  opacity: 1;
}